{% extends 'base.html' %}
{% load static %}

{% block title %}tagging cloud{% endblock %}

{% block extrastyle %}{% static 'css/tag.css' %}{% endblock %}
{% block content %}
<div id="content">
    <h2>Blog tag cloud</h2>

    <div class="tag-cloud">
        {% load tagging_tags %}
        {% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
        {% for tag in tags %}
        <span class="tag-{{ tag.font_size }}">
            <a href="{% url 'tagged-object-list' tag.name %}">{{ tag.name }} ({{ tag.font_size }})</a>
        </span>
        {% endfor %}
    </div>
</div>
{% endblock %}